@import './my_bulma.scss';

.population-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawpath 1s steps(120) forwards; 
}

@keyframes drawpath{
  to{
    stroke-dashoffset: 0;
  }
}